* {
    padding: 0;
    margin: 0;
    font-family: YakuHanJP, '游ゴシック Medium', YuGothic, YuGothicM, 'Noto Sans Japanese', sans-serif;
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: top;
}

a {
    color: #202124;
}

.group {
    margin: auto;
    max-width: 960px;
}

.group-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.motif-pic img {
    width: 100%;
    object-fit: cover;
    height: 230px;
}

.group-title {
    margin-left: 10px;
    font-size: 12px;

}

.group-info a {
    padding-right: 10px;
    color: #f65936;
    font-size: 13px;
}

.group-content {
    width: 100%;
}

.motif-text {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    line-height: 1.2;
}

.motif-text .title a {
    color: #202124;
    font-weight: 1000;
    letter-spacing: 1px;
}

.motif-text .title-text a {
    color: #202124;
    font-size: 13px;
}

.title-text a p {
    margin: 0px 0px 12px;
}

.title {
    margin: 0px 0px 18px;
}

.card {
    width: 47%;
    padding: 10px;
    box-sizing: border-box;
}

.card .card-title span {
    padding-left: 10px;
    font-size: 10px;
    letter-spacing: -1px;
}

.card .card-img img {
    max-height: 20%;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.card .card-text {
    padding: 14px 0px;
    font-size: 13px;
    line-height: 1.2;
    font-weight: bold;
}

.card .card-data {
    font-size: 10px;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card .card-title {
    overflow: hidden;
    white-space: nowrap;
}

.motif-pic span {
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    .container {
        display: flex;
    }

    .group-content {
        width: 50%;
    }

    .card-container {
        width: 50%;
    }

    .motif-text {
        display: flex;
    }

    .container:nth-of-type(4n){
        flex-direction: row-reverse;
    }
    .motif-text .title{
        width: 50%;
    }
    .motif-text .title-text{
        width: 50%;
    }
    img{
        border-radius: 10px;
    }
}